:root {
    --primary-red: #c73b0f;
    --bg-color: #fcf8f5;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color);
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap; 
    gap: 25px;
    max-width: 1000px; 
    margin: 0 auto; 
}

.desserts-section {
    flex: 2;
    min-width: 320px;
}

.desserts-grid {
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
@media (max-width: 600px) {
    .desserts-grid {
        grid-template-columns: 1fr; 
        gap: 15px;
    }
    
    .container {
        flex-direction: column;
    }
}

.dessert-card {
    background: white;
    border-radius: 12px;
    overflow: hidden; 
    border: 1px solid #ddd; 
}

.dessert-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-body { 
    padding: 12px;
}

.add-btn {
    width: 100%; 
    padding: 8px;
    border: 1px solid var(--primary-red);
    background: white;
    color: var(--primary-red);
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
}

.add-btn:hover {
    background: #fdf2f0;
}

.cart-section {
    flex: 1;
    min-width: 300px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    height: fit-content; 
    border: 1px solid #ccc;
}

.cart-item {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.confirm-btn {
    width: 100%;
    background: var(--primary-red);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
}
.modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background: #fff;
    padding: 2.5rem;
    border-radius: 12px;
    width: 100%;
    max-width: 450px;
    max-height: 90vh;
    overflow-y: auto;
}

.check-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 1.5rem;
}

#modal-items-container {
    background-color: #fcf8f5; 
    padding: 1rem;
    border-radius: 8px;
    margin-top: 1.5rem;
}


.modal-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #f4f4f4;
}

.modal-item strong {
    display: block;
    font-size: 0.9rem;
    color: #261108;
}

.modal-item p {
    font-size: 0.85rem;
    color: #87635a;
    margin-top: 4px;
}


.modal-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

#start-new-order {
    width: 100%;
    padding: 1rem;
    background-color: #c73b0f; 
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
}